#wrapper
#div1.slidingSpaces.home{:title => "First page"}
  = partial "pages/page_1"
#div2.slidingSpaces.presentation{:title => "Second page"}
  = partial "pages/page_2"
#div3.slidingSpaces.news{:title => "Third page"}
  = partial "pages/page_3"
#div4.slidingSpaces.media{:title => "Fouth page"}
  = partial "pages/page_4"
#div5.slidingSpaces.games{:title => "Fifth page"}
  = partial "pages/page_5"
#div6.slidingSpaces.webtv{:title => "Fifth page"}
  = partial "pages/page_6"
#div7.slidingSpaces.partners{:title => "Fifth page"}
  = partial "pages/page_7"
#div8.slidingSpaces.press{:title => "Fifth page"}
  = partial "pages/page_4"
#div9.slidingSpaces.press{:title => "Fifth page"}
  = partial "pages/page_2"